ROBOT_SERIAL=RAYA_SIMULATOR
ROBOT_ID=RAYA_SIMULATOR
CLIENT_ID=CLIENT_ID
#RAYA_DEBUG=True

RAYA_CONFIG_PKG=gary_unity
RAYA_CONFIG_NAME=gary_unity

INITIAL_MAP=unity_apartment

ENABLE_BROWSER=True
BROWSER_URL="localhost:3000/app/"
